.burgerContainer {
    width: 600px;
    height: 912px;
    display: flex;
    flex-direction: column;
}

.burgerComponents:last-child {
    display: none;
}

.componentsContainer {
    height: 482px;
    overflow-y: scroll;
}

.componentsList {
    margin: 0px;
    list-style: none;
}

.infoContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconContainer svg {
    height: 36px;
    width: 36px;
    object-fit: cover;
}

.container_isOver {
  border-radius: 9%;
}
